body {
    font-family: 'Poppins', sans-serif;
}

/* Nav-Bar */

.nav {
    padding: 20px;
    height: 80px;
    font-family: 'Poppins', sans-serif;
    /* position: fixed; */
    /* background-color: pink; */
    /* background-color: transparent; */
    width: 100%;
    overflow: hidden;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
}

.nav-logo {
    float: left;
    height: auto;

    /* padding: 20px; */
}
.footer-col .company ul li a{
    text-align:left;
}
.nav-logo img { 
    padding-left:10px;
    height: 40px;
}

.nav-logo img:nth-child(2) {
    height: 60px;
    display: none;
}

.nav-bar {
    padding: 10px 20px;
}

.nav-bar a {
    font-size: 18px;
    font-weight: 700;
    padding: 12px 14px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.activeNav, .activeNav i{
    color: #186fd2 !important;
}
.nav-bar a:hover {
    transition: 0.2s ease-in-out;
    color: #414ad7;
}

.nav-terms-policy {
    padding: 10px 20px;
}

.nav-terms-policy a {
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #414ad7;
    padding: 12px 14px;
    letter-spacing: 1px;
    background-color: #414ad7;
    color: white;
    text-decoration: none;
}

.nav-terms-policy a:hover {
    transition: 0.2s ease-in-out;
    color: #414ad7;
    background-color: transparent;
}


/* Down-Nav */

.down-nav {
    display: none;
}

@media(max-width:980px) {
    .nav-bar {
        display: none;
    }
    .nav-logo img {
        height: 40px;
        display: none;
    }
    .nav-logo img:nth-child(2) {
        height: 40px;
        margin-left: 10px;
        display: inline-block;
    }
    .down-nav {
        padding: 5px;
        width: 100%;
        height: 45px;
        background-color: #202020;
        position: fixed;
        z-index: 1000;
        display: flex;
        bottom: 0;
        justify-content:center   ;
    }
    .down-nav a{
        margin:0 5vw;
    }
    .down-nav a i {
        font-size: 25px;
        color: white;
    }
    .nav-terms-policy a {
        font-size: 12px;
        font-weight: 600;
        padding: 8px 12px;
    }
    .nav-terms-policy a i:hover {
        transition: 0.2s ease-in-out;
    }
    .flex-sec {
        flex-direction: column;
    }
    .boxs:hover {
        transition: 0.4s ease;
    }
}
/* Home-Page */
    
.Landing-page {
    height: max-content;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: #181818be;
    background-blend-mode: overlay;
    background-attachment: fixed;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    /* background-color: wheat; */
    /* padding: 20px; */
}

.home-landingpage-head {
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    /* left: 35%; */
    top: 20%;
    margin: 20px;
    position: relative;
    color: white;
    padding: 20px;
}

.home-landingpage-head h2 {
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
}

.home-landingpage-head p {
    font-size: 20px;
    margin-top: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn-home {
    padding-top: 30px;
}

.btn-home>a {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.911), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: 2px solid #fff;
}

.btn-home a:hover {
    transition: 0.2s ease-in-out;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(7, 7, 7, 0.911), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #000000;
}

.layer {
    position: absolute;
    width: 100%;
    transform-origin: top;
    height: 100%;
    margin: 0;
    top: 0;
    display: flex;
    z-index: 1000;
}

.landing-page-layer-1 {
    transform-origin: top;
    position: relative;
    background-color: #000000;
    width: 50%;
    height: 100%;
    z-index: 1000;
}

.landing-page-layer-2 {
    transform-origin: top;
    /* position: relative; */
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    z-index: 1000;
}

@media(max-width:400px) {
    .home-landingpage-head {
        top: 10%;
        margin: 10px;
    }
    .home-landingpage-head h2 {
        font-size: 40px;
    }
    .home-landingpage-head p {
        font-size: 16px;
    }
    .btn-home>a {
        font-size: 16px;
    }
}

@media screen and (max-width:285px) {
    
    .breakWord {
        overflow-wrap:break-word;
    }
    }