header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    top: 20%;
    text-align: center;
}

header p {
    position: absolute;
    top: 55%;
    left: 30%;
}

header,
header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(mario-gogh-VBLHICVh-lI-unsplash.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 70vh;
}

.container {
    width: 100vw;
    height: max-content;
    text-align: justify;
    z-index: 2;
    position: relative;
    background: #181818;
    line-height: 30px;
    font-weight: lighter;
    /* padding: 80px;
    padding-bottom: 20px; */
    color: #77746b;
}

.container p {
    padding-bottom: 25px;
}

span {
    width: 10%;
    height: 5px;
    background: #c5ba8a;
    display: block;
    margin-top: 10px;
}

.about__company {
    padding-top: 500px;
    padding: 80px;
    height: 30vh;
    display: flex;
}

.about__flex {
    /* margin-top: 278px; */
    color: #77746b;
    width: 40%;
    height: 40%;
    justify-content: space-between;
    line-height: 1.5rem;
    padding: 40px;
}

.about__flex h3 {
    font-weight: 800;
    font-size: 24px;
}

img {
    width: 300px;
    height: 300px;
}