@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	background:white;
    font-family: 'Poppins', sans-serif;
}

nav{
    font-size: 1.5rem;
    /* background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); */
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);    color: white;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow:  2px 2px 3px 0px rgba(255, 255, 255, 0.527);
    border-radius :20px;

}
nav ul{
    list-style-type:none;
  
    padding:0px 20px;
    display: flex;
    margin-top: 30px;
    /* justify-content: space-around; */
}
nav ul li{
    cursor: pointer;
    padding: 0.3rem;
    flex:auto;
    color: #202020;
    text-align: center;
}

nav ul li.active{
    border-bottom: 6px solid rgb(21, 0, 250);
    position:inherit;
}

/* Cards 2*/

  .testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
  }
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 160px;
    height: 5px;
    background: rgb(241, 160, 163);
    margin: 26px auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  @media screen  and (max-width:1000px){
      .col{
        max-width: 80%;
        place-self: center;
      }
      .row{
        flex-direction: column;
      }
      
  }
  .testimonial{
    background: #fff;
    box-shadow: 2px 2px 10px rgba(246,128,132,1);
    padding: 30px;
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .stars{
    color: #f9d71c;
    margin-bottom: 20px;
    letter-spacing: 5px;

  }
/*Cards 1*/
a{
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #f1f1f1;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
}
.testimonial-heading span{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    background: #ffffff;
}
.testimonial-box{
    width:500px;
    
     box-shadow: 2px 2px 10px rgba(246,128,132,1);

    background-color: #ffffff;
    
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 1rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px){
    .testimonial-box{
        width:92%;
        padding: 10px;
        margin: 20px 20px 20px 20px;
    }
    .name-user .strong{
        font-size: 1.5rem;
    }
    .name-user span{
        font-size: medium;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
        margin: 20px 20px 20px 20px;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}
@media screen and (max-width:1000px){
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        text-align: center;
    }
    
}
